# Entornos Virtuales
venv/
videoenv/
antenv/
env/

# Datos de Contenedores (Persistencia local)
data/
postgres_data/
grafana_data/
n8n_data/

# Archivos de Video Generados (Evita subir Gigas de video)
python_worker/videos_generados/
videos_generados/
temp_video.mp4

# Secretos y Configuración
.env
.env.example  # (A veces se sube el .example vacío, pero el .env NUNCA)

# Python y Logs
__pycache__/
*.pyc
*.log

# Backups y Comprimidos
backups/
archive_old/
*.zip
*.tar.gz