services:
  python_api:
    build: .
    container_name: agrodatasystem-api-1
    restart: always
    # Esto inyecta automáticamente las variables de tu .env al contenedor
    env_file: .env 
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "5000:5000"
    working_dir: /app/python_worker
    # Opcional: para ver cambios en el código sin rebuildear (solo desarrollo)
    # volumes:
    #   - ./python_worker:/app/python_worker

  n8n:
    image: n8nio/n8n:latest
    container_name: agrodatasystem-n8n-1
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_ENCRYPTION_KEY=AgroTech2025_Secret_Key
      - N8N_USER_MANAGEMENT_DISABLED=false
      - TZ=Europe/Madrid
    volumes:
      - ./data/n8n_data:/home/node/.n8n

  grafana:
    image: grafana/grafana:latest
    container_name: agrodatasystem-grafana-1
    restart: always
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_SERVER_TIMEZONE=Europe/Madrid
      - TZ=Europe/Madrid
    volumes:
      - ./data/grafana_data:/var/lib/grafana